@font-face {
    font-family: 'RobotoBold';
    src: url('./assets/fonts/Roboto-Bold.ttf');
}
@font-face {
    font-family: 'RobotoReg';
    src: url('./assets/fonts/Roboto-Regular.ttf');
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.Wrapper{
    height: 100vh;
    width: 100vw;
    background-color: hsl(234, 29%, 20%);
}
.formContainer{
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%,-50%);
    background-color: #fff;
    padding: 1rem;
    border-radius: 25px;
}
#first{
    display: grid;
    grid-template-columns: 500px 400px ;
    grid-template-rows: 1fr;
}
.phone{
    display: none;
}

#first > .leftSide{
    grid-area: 1 / 1 / 1 / 2;
}
#first > .pc{
    grid-area: 1 / 2 / 1 / 3;
}
.leftSide{
    padding: 4rem 3rem;
    display: flex;
    flex-direction: column;
}
.bigText{
    font-size: 50px;
    font-family: 'RobotoBold';
    color:hsl(234, 29%, 20%);
    padding-bottom: 2rem;
}
.MdText{
    font-size:17px ;
    color:hsl(235, 18%, 26%);
    font-family: 'RobotoReg';
    font-weight: 600;
    padding-bottom: 1.5rem;
    line-height: 25px;
}
.lists{
    list-style-type:none;
    list-style-image: url('./assets/images/icon-list.svg');
    padding-bottom: 3rem;
    list-style-position: outside;
    padding-left: 1rem;
}
.lists > li{
    font-size: 17px;
    font-family: 'RobotoReg';
    color:hsl(235, 18%, 26%);
    padding: 0.3rem;

}
.lists > li > span{
    position: relative;
    left: 10px;
    text-align: end;
    top:-3.5px;
    font-weight: 600;
}
.formWrapper{
    display: flex;
    flex-direction: column;
}
.verify{
    display: flex;
    justify-content: space-between;
}
.formWrapper >.verify > .emial{
    font-family: 'RobotoBold';
    font-size: small;
    padding-bottom: 0.5rem;
}
.formWrapper > input{
    all:unset;
    width: 100%;
    padding: 0.7rem 1rem;
    border: 1px solid rgb(145, 145, 145);
    border-radius: 5px;
    font-family:'RobotoReg' ;
    margin-bottom: 1rem;
    box-sizing: border-box;
}
.formWrapper > button{
    all:unset;
    width: 100%;
    font-family:'RobotoBold';
    color: white;
    background-color: hsl(234, 29%, 20%);
    text-align: center;
    padding: 1rem;
    box-sizing: border-box;
    border-radius: 5px;
    cursor: pointer;
}
#second{
    padding: 1rem 1.5rem;
    width: 350px;

}
#second > div > img{
    width: 100px;
    height: 100px;
    padding-bottom:1rem;
}
.Thanks{
    font-size: 32px;
    font-family: "RobotoReg";
    color: hsl(234, 29%, 20%);
    padding-bottom:1rem ;
}
#message{
    padding-bottom: 1.5rem;
}
#message > p{
    font-family: "RobotoReg";
    opacity: 0.9;
    line-height: 24px;
    color: hsl(235, 18%, 26%);
    font-size: 15px;
}
.dismiss{
    all:unset;
    width: 100%;
    font-family:'RobotoBold';
    color: white;
    background-color: hsl(234, 29%, 20%);
    text-align: center;
    padding: 1rem;
    box-sizing: border-box;
    border-radius: 5px;
    cursor: pointer;
}

@media screen and (max-width:640px){
.formContainer{
    top: 0;
    left: 0;
    transform:none;
    width: 100%;
    height: 100%;
    border-radius: 0;
    padding: 0;
}
#message > p{
    font-size: 18px;
}
.Thanks{
    font-size: 40px;
}
#second{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}
#second > #top-level{
    padding-top: 8rem;
    height: 100%;
}

#first{
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    padding: 0;
}
#first > div:nth-child(2){
    grid-area: auto;
}
.Wrapper{
    background-color: #fff;
}
.leftSide{
    padding: 3rem 1rem;
    justify-content: center;
}
.pc{
    display: none;
}
.phone{
    display: block;
    width: 100%;
}
.phone > img{
    width: 100%;
}
}

.red{
    color: red !important;
    border-color: hsl(4, 100%, 67%) !important;
    background-color:  rgb(255, 215, 215) !important;
}
.red-text{
    color: red;
}
.d-none{
    display: none !important;
}
